
#plugin-fw-wc > table:nth-child(2) > tbody > tr.yith-plugin-fw-panel-wc-row.custom > td > div > div > div > input.yith_mjpa_size{
    width:50px;
    height: 10px;
    margin-bottom: 10px;
    margin-left: 11px;
    margin-right: 5px;
}
#yith_mjpa_id_number_field{
    width:60px;
}
.yith-wcact-form-field {
    position    : relative;
    padding     : 0 0 0 160px !important;
    margin      : 30px 0;
    font-size   : 12px;
    line-height : 24px;
}
.yith-wcact-form-field label {
    width: 140px !important;
}
.yith-wcact-form-field__description,
.yith-wcact-settings-section__description,
.yith-wcact-settings-section-box__description {
    display     : block;
    padding     : 0;
    font-size   : 12px;
    font-style  : italic;
    clear       : both;
    line-height : 1.4em;
    margin-top  : 5px;
    color       : #777;
}


.yith-mjpa-product-metabox-radio{
    display: flex;
    flex-direction: row;
}
.yith-mjpa-product-metabox-radio label{
    width: fit-content !important;
    margin: 0 10px 0 0px !important;
}
.yith-mjpa-flex{
    display: flex;
    flex-direction: column;
}

.yith-mjpa-product-metabox-radio-price{
    display: flex;
    flex-direction: row;
}
.yith-mjpa-product-metabox-radio-price label{
    width: fit-content !important;
    margin: 0 10px 0 0px !important;
}
.wp-picker-container label {
    margin: 0 !important;
     width: fit-content !important; 
  } 