.class_checkbox_wrap{
    display: flex;
    flex-direction: row;
  }
  .class_checkbox_enable{
  margin-top: 20px;
  margin-left:7rem;
  }
  .wrap-title-checkbox{
    display: flex;
    flex-direction: row;
  }
  
  .accordion-title {
      display: block;
      position: relative;
      margin: 0;
      padding: 0.225em 0.625em 0.625em 1em;
      font-size: 1.25em;
      font-weight: normal;
      color: #0073aa;
      background: white;
      cursor: pointer;
    }
    
   .accordion-title:hover,
  .accordion-title:active,
  .content-entry.open .accordion-title {
      background-color: white;
      color: #0073aa;
    }
    
  .accordion-title:hover i:before,
  .accordion-title:hover i:active,
  .content-entry.open i {
      color: white;
    }
    
    .accordion-title{
      position: relative;
    }
    
    .accordion-title:after {
      content: "\25BC";
      position: absolute;
      padding: 0.225em 0.625em 0.625em 1em;
      top: 27%;
      right: 25px;
      display: block;
    }
    
    .accordion-title.open:after {
      content: "\25B2";
  
    }
    
    .accordion-content {
      display: none;
      padding-left: 2.3125em;
    }
  .wrapp-accordion{
      border-color: #0073aa;
      border-width: 1.5px;
      border-style: solid;
  }
  .class_option_price_show.class_flex.mjpa_hidden{
    display: none;
  }
  
  .mjpa_hidden{
    display: none;
  }
  .wrap-options.mjpa_hidden{
    display: none;
  }
  .class_option_trash{
    justify-content: center;
    margin-top: 20px;
  }
  .class_span_option_trash{
  
  }
  .delete_addon_button_wrap{
    display: flex;
    justify-content: flex-end;
  }
  .delete_addon_button.button.button-primary.button-large{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .class_flex{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .woocommerce_options_panel label.margin {
    margin: 0px;
  }
  .wrap-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .woocommerce_options_panel input[type=text].class_option_select {
    width: 80%;
  }
  .add_new_option{
    margin-left: 10%;
    display: inline-block;
    border:none;
    transition: all ease .3s;
    border: 2px solid transparent;
    transition: #0073aa ease .3s;
  }
  .add_new_option:hover{
    margin-left: 10%;
    border-bottom: 2px solid#0073aa;
  }