.yith_mjpa_title_addon{
    font-size:x-large;
}
.yith_mjpa_radio_flex{
    display: flex;
    flex-direction: row;
}
.yith_mjpa_radio_flex label{
    margin-top: -2px;
}
.yith_mjpa_text_onoff{
    margin-left: 15px;
}
.yith_mjpa_text_onoff_container{
}
.yith_mjpa_wrap_onoff{
    display: flex;
    flex-direction: row;
}
.yith_mjpa_hidden{
  display: none;
}
.single-product form.cart input.yith_mjpa_input_checkbox{
  width: 1.5rem;
  transform: scale(1.5);
  margin-right: 30px;
  border-width: 0.05rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }