.yith_mjpa_wrap_badge{
    width:100%;
    border-radius: 30%;
}
.yith_mjpa_badge_text#badge_text{
    background-color: purple;
    position: absolute ;
    font-weight: 700;
    left: 60%;
    right: 0%;
    top:0px;
}
.yith_mjpa_badge_text_shop#badge_text_shop{
    background-color: purple;
    position: absolute ;
    font-weight: 700;
    font-size: 7px;
    left: 60%;
    right: 0px;
    top:0px;
}
.yith_mjpa_global_wrap_personalize{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.yith_mjpa_wrap_personalize{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.yith_mjpa_title_personalize{
    margin: auto;
}
.yith_mjpa_text_personalize{
    margin: auto;
}
.yith_mjpa_input_personalize#yith_mjpa_input_personalize_id{
    width: 80%;
}
.yith_mjpa_extra_price_personalize{
    text-align: right;
    margin-right: 40px;
}