/*Stars*/
  .invi{
    display:none;
  }
  .container, .stars__wrapper {
      display: flex;
    }
    
    .stars__wrapper {
      flex-direction: row-reverse;
      margin-bottom: 30px;
    }
    
    .star {
      color: black; /* gray color */
      font-size: 32px; /* star size */
      text-decoration: none; /* delete underline of link */
      transition: .2s; /* smooth */
    }
    
    .star:hover,
    .star:hover ~ .star {
      color: orange; /* red color */
    }
    
    /* don't hover after choosing */
    .wrapper__active .star:hover:not(.choosen),  
    .wrapper__active .star:hover:not(.choosen) ~ .star:not(.choosen) {
      color: blue;
    }
    
    .choosen {
      color: orangered; /* red color */
    }