
  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
.special_guest{
  margin-top: 10px;
  border-radius: 9%;
}

.vip{
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
}
.stars__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
  }
  
  .star {
    color: black; /* gray color */
    font-size: 20px; /* star size */
    text-decoration: none; /* delete underline of link */
    transition: .2s; /* smooth */
  }

  .choosen {
    color: orangered; /* red color */
  }
.yith_testimonial_mjpa_container{
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 2%;
    margin:auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);

}

.hover_effects_higlight:hover {
    border-color: aqua;
    border-style: solid;
    border-width: 5px;
	box-shadow: 0 5px 10px rgba(184, 184, 255, 0.4);
	transform: translateY(1px);
}
.hover_effects_zoom:hover {
	box-shadow: 0 5px 10px rgba(184, 184, 255, 0.4);
	transform: scale(1.5);
}

.yith_testimonial_mjpa_pair_container{
    height: 180px;
    margin: 0;
    display:flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.yith_testimonial_mjpa_image img{
    margin-top: 50px;
    width:80px;
    height:80px;
    border-radius: 50%;
}

.yith_testimonial_mjpa_name{
    margin-top: 25px;
    height: 130px;
    flex-direction: column;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.yith_testimonial_mjpa_name p{
    margin: auto;
    font-size: 0.9em;
    font-weight: 800;

}

.yith_testimonial_mjpa_content {
    width: 300px;
    width: 100%;
    height: 100%;
    text-align:center;
}
.yith_testimonial_mjpa_content p{

    margin-right: 20px;
    margin-left: 20px;
}
@media (min-width: 1281px) {

  
    .format_columns_testimonials{
        display: flex;
        flex-direction: row;
        max-width:1500px !important;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    .yith_testimonial_mjpa_container{
        width:32%;
        height:350px;
        display:flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 2%;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);
    
    }
  }

  
@media (min-width: 481px) and (max-width: 767px) {
    
    .format_columns_testimonials{
        display: flex;
        flex-direction: row;
        max-width:767px !important;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    .yith_testimonial_mjpa_container{
        width:100%;
        height:350px;
        display:flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 2%;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);
    
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .format_columns_testimonials{
        display: flex;
        flex-direction: row;
        max-width:480px !important;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    .yith_testimonial_mjpa_container{
        width:100%;
        height:350px;
        display:flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 2%;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);
    
    }

    
  }


  @media (min-width: 768px) and (max-width: 1024px) {
  
    .format_columns_testimonials{
        display: flex;
        flex-direction: row;
        max-width:1024px !important;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    .yith_testimonial_mjpa_container{
        width:47%;
        height:350px;
        display:flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 2%;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);
    
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .format_columns_testimonials{
        display: flex;
        flex-direction: row;
        max-width:1024px !important;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    .yith_testimonial_mjpa_container{
        width:47%;
        height:350px;
        display:flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 2%;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);
    
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */


  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .format_columns_testimonials{
        display: flex;
        flex-direction: row;
        max-width:1280px !important;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    .yith_testimonial_mjpa_container{
        width:30%;
        height:350px;
        display:flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 2%;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.34);
    
    }
    
  }
  