.class-box{
    width:500px;
    height: 500px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:450px;
    background-color: blue;
    height: 450px;

}
.class-data{
    background-color: aqua;
    width:350px;
    height: 350px;
    display:none;
}

p{
    font-size: large;
    color:white;
}