
.yith_mjpa_form_class .hide_element{
    display:none; 
}
.yith_mjpa_error{
    background-color: red;
    text-align: center;
}
.yith_mjpa_success{
    background-color: green;
    text-align: center;
}
