.yith_mjpa_wrap_ticket{
    border: 1px solid grey;
}
.yith_mjpa_ticket_margin{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#name{
    height: 30px;
    width:60%;
}
#surname{
    height: 30px;
    width:60%;
}
.mjpa_hidden{
    display:none;
}



.yith_mjpa_checkbox{
    grid-area: yith_checkbox;
}
.yith_mjpa_post_id{
    grid-area: yith_post_id;
}
.yith_mjpa_username{
    grid-area: yith_username;
}
.yith_mjpa_wrap{
    grid-area: yith_wrap;
}
.yith_mjpa_button{
    grid-area: yith_button;
}
.container{
    border: 0.1rem solid #dcd7ca;
    display: grid;
    grid-template-columns: 10% 20% 50% 10% 10%;
    grid-template-rows: 100%;
    grid-template-areas: 
      "yith_checkbox yith_post_id yith_username yith_wrap yith_button";
}
.yith_mjpa_title{
    text-align: center;
    width: 100%;
    border: 0.1rem solid #dcd7ca;
}
.yith_display_none{
    display:none;
}
.yith_mjpa_checked{
    color:rgb(16, 127, 179);
    font-size: 1.5rem;
}
.yith_mjpa_not_checked{
    color:red;
    font-size: 1.5rem;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: auto;
  }