
.woocommerce_options_panel input[type=text].yith-mjpa-input-text-class{
    width:100%;
}
.yith-mjpa-text-table{
    width: 300px;
}
.yith-mjpa-checkbox-table{
    width:60px;
}
.yith_mjpa_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#yith_mjpa_icon_edit_id{
    margin-left: 0px;
    margin-right: 15px;
}
.yith_mjpa_checked{
    color:rgb(16, 127, 179);
    font-size: 1.5rem;
}
.yith_mjpa_not_checked{
    color:red;
    font-size: 1.5rem;
}